name: 'Clojure'
scopeName: 'clojure'
type: 'tree-sitter'
parser: 'tree-sitter-clojure'

fileTypes: [
  'boot'
  'clj'
  'clj.hl'
  'cljc'
  'cljs'
  'cljs.hl'
  'cljx'
  'clojure'
  'edn'
  'org'
  'joke'
  'joker'
]

## TODO: these should be smarter
firstLineRegex: '^\\(ns'
contentRegex: '^\\(def'

comments:
  start: ';'

folds: []

scopes:
  'nil': 'constant.language.nil.clojure'
  'boolean > true, boolean > false': 'constant.language.boolean.clojure'
  'comment': 'comment.clojure'
  'number': 'constant.numeric.clojure'

  'keyword': 'constant.keyword.clojure'
  'string': 'constant.string.clojure'
  'character': 'constant.character.clojure'

  'vector': 'vector.collection.clojure'
  'set': 'meta.set.collection.clojure'

  'symbol': 'meta.symbol.clojure'
  'symbol > threading_macro': 'threading-macro.clojure'
